@import url('https://fonts.googleapis.com/css?family=Lora');

body {
    background-color: #00CED1;
    color: #20B2AA;
    text-align: center;

}

#container {
    background-color: #E0FFFF;
    max-width: 100%;
    display: block;
    margin: auto;
    float: center;
    width: 55vw;
    height: 50vh;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 50px 20px #FFF5EE;
    border-radius: 50%;
    overflow: auto;
}

h1 {
    font-size: 35px;
    font-family: 'Lora', serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9vh;
}

p {
    font-size: 20px;
    font-family: 'Lora', serif;
}

input {
    width: 45%;
    height: 30px; 
    display: inline-block;
    margin: auto; 
    font-family: 'Lora', serif;
    font-size: 18px;
    text-align: center;
}

button {
    width: 20%;
    height: 25px;
    display: inline-block;
    margin-top: 8px;
    font-family: 'Lora', serif;
    font-size: 0.6em;
    overflow: hidden;
}

#strongPassword {
    font-family: 'Lora', serif;
    font-size: 2em;
    color: #2F4F4F;
}



